.planets-container {
  background-color: black;
  position: relative;
  top: 15vh;
  padding-right: 50px;
  padding-left: 50px;
}

.planets-info {
  font-family: monospace;
  font-size: 1.2em;
  color: wheat;
  padding: 3%;
}

.suggestion-list {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.suggestion-list-item {
  margin: 0 auto;
  height: 3.5em;
  border: black 2px solid;
  background: white;
  border-radius: 11px;
  color: black;
}

.info-style {
  color: white;
  margin: 0px;
}

.planet-item {
  color: wheat;
  cursor: pointer;
}

.touch-info {
  color: gray;
  font-family: monospace;
}
