.falcone-container {
  position: relative;
  top: 15vh;
  color: wheat;
}

.fontColor {
  color: wheat;
}

.message {
  font-size: 1.3em;
  font-family: monospace;
}

.falcone-button {
  position: fixed;
  z-index: 90;
  bottom: 15%;
  right: 2%;
}
